.left-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  .spinner {
    align-self: center;
  }
}

.right-containter {
  display: flex;
  flex-direction: column;
  flex: 1;

  .spinner {
    align-self: center;
  }
}
